.game-background {
    -fx-background-color: #1e272e; /* Dark Slate */
}

/* --- SIDEBAR --- */
.sidebar-panel {
    -fx-background-color: #2f3640;
    -fx-border-color: #dcdde1;
    -fx-border-width: 0 2 0 0;
}

.sidebar-title {
    -fx-font-family: "Courier New";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #fbc531; /* Retro Gold */
    -fx-border-color: #fbc531;
    -fx-border-width: 0 0 2 0;
}

/* Info Card (Top Left) */
.info-card {
    -fx-background-color: #353b48;
    -fx-border-color: #00a8ff;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.info-header {
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
    -fx-text-fill: #00a8ff;
    -fx-font-weight: bold;
}

.turn-highlight {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.instruction-text {
    -fx-font-size: 14px;
    -fx-text-fill: #bdc3c7;
    -fx-font-style: italic;
}

/* Score Items */
.score-item {
    -fx-background-color: #2f3640;
    -fx-padding: 5;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #7f8c8d;
}
.score-text-rank { -fx-text-fill: white; -fx-font-weight: bold; -fx-font-size: 14px; }

.card-button {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: #2c3e50; 
    -fx-border-width: 2px; 
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 2, 2);
    -fx-cursor: hand;
}

.card-button:hover {
    -fx-border-color: #fbc531;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.overlay-dim { -fx-background-color: rgba(0,0,0,0.85); }

.popup-inner {
    -fx-background-color: #2f3640;
    -fx-border-color: #fbc531;
    -fx-border-width: 4px;
    -fx-padding: 30;
    -fx-alignment: CENTER;
}

.popup-header {
    -fx-text-fill: #fbc531;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.popup-big-text {
    -fx-text-fill: white;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.popup-timer {
    -fx-text-fill: #e84118;
    -fx-font-size: 20px;
    -fx-font-family: "Courier New";
}

.popup-inner-end {
    -fx-background-color: #2f3640;
    -fx-border-color: white;
    -fx-border-width: 5px;
    -fx-padding: 40;
}

.result-title {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #4cd137; /* Win Green */
    -fx-effect: dropshadow(three-pass-box, #4cd137, 10, 0, 0, 0);
}

.result-message {
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.return-timer {
    -fx-font-size: 16px;
    -fx-text-fill: #7f8c8d;
}

.transparent-scroll {
    -fx-background: transparent;
    -fx-background-color: transparent;
}
.transparent-scroll .viewport {
    -fx-background-color: transparent;
}

.transparent-scroll > .scroll-bar:horizontal,
.transparent-scroll > .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding: -10;
    -fx-max-width: 0;
}